<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel='stylesheet' href='style.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
    <style>
  

    
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-dark bg-primary" id='Nav'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Express Checkpoint</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="">Home</a></li>
       <li><a href="{{{contact}}}">contact us</a></li>
        <li><a href="{{{service}}}">Our services</a></li>
    </ul>
  </div>
</nav>
<div class='container'>
<img width='768px'        src='https://lh3.googleusercontent.com/proxy/kLw8ZNsyXu_dzyOKNLWmfRnz2u6Cv3mCjHNsWWtUzcz8bnM1oR8CFFfCqY8gh-I1INtrdjHEUlD1HN_fkA0HSfZkY_Vv7kob7890SqA'>
<h3>{{h1}}</h3>
</img>
</div>
    
</body>
</html>