<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel='stylesheet' href='style.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-default navbar-dark bg-primary" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Express Checkpoint</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{{home}}}">Home</a></li>
       <li><a href="{{{contact}}}">contact us</a></li>
        <li><a href="">Our services</a></li>
    </ul>
   
  </div>
  
</nav>
 <div class='container'>
    <h3> list of our services </h3>
      <ul>
      <li>Change Management</li>
        <li>  Customer Relationship Management</li>
         <li>  Human Resources Management</li>
      </ul>
    
    </div>
    <div class ='container'>
    <h2>Change Management</h2>
    <p>Change management provides a structured approach to transitioning individuals, teams, and organizations from a current state to a desired future state. One primary reason change is complicated is because organizations are constantly in motion. For example, suppose you wanted to change a tire on a car. If you’ve ever changed a tire, you know it’s a pretty straightforward task: jack up the car, remove the old tire, put the new tire on, and lower the car back down. But now imagine that car is driving down a road at 30mph, and you’ve been asked to change that same tire without slowing the car down. The change is now much more complex to execute, and in many situations firms will bring in consultants with experience to help develop a change plan and assist in execution.</p>
    <h2>Customer Relationship Management</h2>
    <p>
    Customer Relationship Management, or CRM, may involve developing a system for managing and nurturing a company’s interactions with customers and sales prospects. Such a system can help a company provide better customer service, more accurately target customers with relevant marketing messages, and track marketing effectiveness.
    </p>
    <h2>Human Resources Management</h2>
    <p>
    Human Resources Management typically involves developing a strategic and coherent approach to the management of a company’s people. This can include minimizing health care spend, developing a benefits package to attract the right employees, optimizing executive compensation to incentivize the best performance, etc.
    </p>
    
    </div>
</body>
</html>